* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  user-select: none;
}

header {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 24px 30px;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 0.85rem;
  font-weight: 200;
}

header a:hover {
  text-decoration: underline;
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 400px;
}

@media (max-width: 640px) {
  main {
    width: 90%;
    margin-top: 50px;
  }
}
